        
<!DOCTYPE html>
<html dir="rtl" lang="he">
	<head>
	</head>
	<body >
        
        
<h1>הזנת פרטי התפריט:</h1>
    <form id="set-menu" method="POST" action="/api/v1/set_menu/<%=restid %>">
        <% for(let i = 0; i < numOfDishes; i++) { %>
            <% console.log(i) %>
            <label for='menu[<%=i%>][dish_name]'>>:מנה</label>
            <input type="text" name='menu[<%=i%>][dish_name]'><br>    
            <label for='menu[<%=i%>][dish_description]'>תיאור:</label>
            <input type="text" name='menu[<%=i%>][dish_description]'><br>
            <label for='menu[<%=i%>][dish_price]'>מחיר:</label>
            <input type="text" name='menu[<%=i%>][dish_price]'><br>
            <br>
          <% } %>
        <input type="submit" value="Submit">
    </form>

        
	</body>
</html>